In [1]:
def cek(data):
    lista=[]
    for i in data:
        if i not in lista:
            lista.append(i)
    if  len(lista) == 1:
        print(True)
    else:
        print(False)

cek((90, 90, 90, 90))
cek((80, 90, 70, 80))

True
False

In [2]:
def datadiri(data):
    print(f"NIM    : {data[1]}")
    print(f"NAMA   : {data[0]}")
    print(f"ALAMAT : {data[2]}")
    print()
    print(f"NIM: {tuple(data[1])}")
    print()
    nama = data[0].split(" ")
    print(f"NAMA DEPAN: {tuple(nama[0])}")
    print()
    nama.reverse()
    print(f"NAMA TERBALIK: {tuple(nama)}")

datadiri( ('Matahari Bhakti Nendya', '22064091', 'Bantul, DI Yogyakarta'))

NIM    : 22064091
NAMA   : Matahari Bhakti Nendya
ALAMAT : Bantul, DI Yogyakarta

NIM: ('2', '2', '0', '6', '4', '0', '9', '1')

NAMA DEPAN: ('M', 'a', 't', 'a', 'h', 'a', 'r', 'i')

NAMA TERBALIK: ('Nendya', 'Bhakti', 'Matahari')

In [4]:
import re
file = input("Masukkan nama file: ")
with open(file) as handle:
    jam = dict()
    for line in handle:
        if line.startswith('From '):
            nemu = re.findall(r'\d\d:\d\d:\d\d', line)
            if nemu:
                hour = nemu[0].split(":")[0]
                jam[hour] = jam.get(hour, 0) + 1
for k in sorted(jam):
    print(k, jam[k])

Masukkan nama file: /content/mbox-short.txt
04 3
06 1
07 1
09 2
10 3
11 6
14 1
15 2
16 4
17 2
18 1
19 1