In [14]:
n = int(input("Masukkan nilai n: "))
if n <= 2:
    print("Nilai n harus lebih dari 2")
else:
    for i in range(n-1,1,-1):
        prima = True
        for j in range(2,int(i**0.5)+1):
            if i % j == 0:
                prima = False
                break
        if prima:
            print(i)
            break

Masukkan nilai n: 19
17

In [3]:
n = int(input("Masukkan nilai n: "))
for i in range(n,0,-1):
    faktorial = 1
    for k in range(i,0,-1):
        faktorial *= k
    print(faktorial, end=" ")
    for j in range(i, 0, -1):
        print(j, end=" ")
    print()

Masukkan nilai n: 6
720 6 5 4 3 2 1
120 5 4 3 2 1
24 4 3 2 1
6 3 2 1
2 2 1
1 1

In [4]:
tinggi = int(input("Masukkan nilai tinggi: "))
lebar = int(input("Masukkan nilai lebar: "))
angka = 1
for i in range(1, tinggi+1):
    for j in range(1, lebar+1):
        print(angka, end=" ")
        angka +=1
    print()

Masukkan nilai tinggi: 5
Masukkan nilai lebar: 4
1 2 3 4
5 6 7 8
9 10 11 12
13 14 15 16
17 18 19 20